{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>Patent</h1>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        系统时间：<title>当前时间</title>
    </head>
    <body>
        <div id="datetime">
            <script>
                setInterval("document.getElementById('datetime').innerHTML=new Date().toLocaleString();", 1000);
            </script>
        </div>
    </body>
</div>


<div>
    {% if patents %}
    {% for patent in patents %}
    <div class="content-section">
        <a>Patent Title: {{ patent.patent_title }}</a><br>
        <a>Patent id : {{ patent.patent_number }}</a><br>
        <a>IPC section: {{ patent.ipc_section }}</a><br>
        <a href={{ url_for("patent_detail",patent_id=patent.patent_number) }}>Details</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{{ url_for('cite', id=patent.patent_number) }}">Claim</a>
    </div>
    {% endfor %}
    {% else %}
    <div class="content-section">
        <h2>Waiting to get patent applied, so excited!</h2>
    </div>
    {% endif %}
</div>

{% endblock content %}