{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>Patent</h1>
</div>
<div>
    {% if patents %}
    {% for patent in patents %}
    {% if product.count !=0 %}
    <div class="content-section">
        <a>Patent Title: {{ patent.patent_title }}</a>
        <a>Patent id : {{ patent.patent_number }}</a><br>
        <a>IPC section: {{ patent.ipc_section }}</a><br>
        {% if current_user.table_name =="Applicant" %}
            <a href={{ url_for("add_product",id=product.id) }}>Buy it</a>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <div class="content-section">
        <h2>Waiting to get patent applied, so excited!</h2>
    </div>
    {% endif %}
</div>
{% endblock content %}