{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>Patent</h1>
</div>
<div>
    {% if patents %}
    {% for patent in patents %}
    <div class="content-section">
        <a>Patent Title: {{ patent.patent_title }}</a><br>
        <a>Patent id : {{ patent.patent_number }}</a><br>
        <a>IPC section: {{ patent.ipc_section }}</a><br>
        <a href={{ url_for("patent_detail",patent_id=patent.patent_number) }}>Details</a>
    </div>
    {% endfor %}
    {% else %}
    <div class="content-section">
        <h2>Waiting to get patent applied, so excited!</h2>
    </div>
    {% endif %}
</div>
{% endblock content %}