{% extends "account_layout.html" %}
{% block info %}
    <h1>Manage Your Patent Application</h1><br>
    {% if pending %}
        {% for patent in pending %}
            <a>Title: {{ patent.patent_title }}</a><br>
            <a>Submission Time: {{ patent.patent_application_date}}</a><br>
            <a>Status:</a>
            <font color="blue">
                <a> Pending</a><br>
            </font>
            <a href="{{ url_for('application_detail', application_table_id=patent.table_number) }}">Application Detail</a>
            {% if current_user.table_name == "Inspector" %}
                <a  href="{{ url_for('inspector_approve', application_id = patent.table_number)}}">Approve</a>
                <a  href="{{ url_for('inspector_reject', application_id = patent.table_number)}}">Reject</a>
            {% endif %}<br>
            <a>-------------------------------------------------------</a><br>
        {% endfor %}
    {% endif %}
    {% if rejected %}
        {% for patent in rejected %}
                <a>Title: {{ patent.patent_title }}</a><br>
                <a>Submission Time: {{ patent.patent_application_date}}</a><br>
                <a>Status:</a>
                    <font color="red">
                        <a> Rejected</a><br>
                    </font>
                    <a href="{{ url_for('application_detail', application_table_id=patent.table_number) }}">Application Detail</a><br>
                <a>-------------------------------------------------------</a><br>
        {% endfor %}
    {% endif %}
    {% if approved %}
        {% for patent in approved %}
            <a>Title: {{ patent.patent_title }}</a><br>
            <a>Submission Time: {{ patent.patent_application_date}}</a><br>
            <a>Status:</a>
                    <font color="green">
                        <a>Approved</a><br>
                    </font>
                    <a href="{{ url_for('application_detail', application_table_id=patent.table_number) }}">Application Detail</a><br>
            <a>-------------------------------------------------------</a><br>
        {% endfor %}
    {% endif %}
    {% if current_user.table_name == "Applicant"%}
    {% if not approved and  not rejected and  not pending %}
        <a> Seems that there is no applications sunmitted. How about applying for one?  </a><br>
        <a href = "{{url_for('applicant_apply')}}">Apply one now!</a>
    {% endif %}
    {% endif %}
    {% if current_user.table_name == "Inspector"%}
    {% if not approved and  not rejected and  not pending %}
        <a> Seems that there is no applications sunmitted. Take a rest!  </a><br>
    {% endif %}
    {% endif %}
{% endblock info %}
